# Admin Dashboard
:1890 {
    tls internal
    reverse_proxy frontend-admin:80
}

# User Location Provider
:1880 {
    tls internal
    reverse_proxy frontend-user:80
}

# Backend API (WebSocket)
:1800 {
    tls internal
    reverse_proxy backend:8080
}
